<!DOCTYPE html>
<html lang="{$currentLanguage ? $currentLanguage : 'en'}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta n:if="$description" name="description" content="{$description}">
	<meta n:if="$author" name="author" content="{$author}">
	<meta n:if="$keywords" name="keywords" content="{$keywords}">
	<title>{$title}</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

<div class="container my-3">
	<h1>{$heading}</h1>
</div>

{if $menu || $languages}
<nav class="navbar navbar-expand-sm navbar-light bg-light static-top">
	<div class="container"><div class="row"><div class="col-lg-12">
		<div class="navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav">
				{if $menu}
				{foreach $menu as $menuItem}
				<li n:class="$menuItem->active ? 'nav-item active' : 'nav-item' ">
					<a class="nav-link" href="{$baseUri}/{$menuItem->url}">{$menuItem->caption}</a>
				</li>
				{/foreach}
				{/if}

				{if $languages}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="{$baseUri}/resources/flags/{$currentLanguage}.png" alt="[{$currentLanguage}]">
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{foreach $languages as $lang}
						<a class="dropdown-item" href="?uCMS_lang={$lang}"><img src="{$baseUri}/resources/flags/{$lang}.png" alt="[{$lang}]"></a>
						{/foreach}
					</div>
				</li>
				{/if}	
			</ul>
		</div>
	</div></div></div>
</nav>
{/if}

<div class="container mt-3">{$contents|noescape}</div>

</body>

</html>
