<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        main {
            margin: 0;
            padding: 0 3vmin;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 
            font-size: 5vmin;
            white-space: nowrap;
            text-align: center;
        }
    </style>
</head>
<body>
<main>
    <h1>Ooops, it aint here!</h1>
    <h2>404 Not Found</h2>
</main>
</body>

</html>
